# Hackathon Assignment

## Classification Problem

To distinguish between a signal process which produces Higgs bosons and a background process which does not.

`Column1` - class; Target (which needs to be predict)

`Column2 - Column22` - kinematic properties measured by the particle detectors in the accelerator


`Column23 - Column29` - features are functions of the first 21 features; these are high-level features derived by physicists to help discriminate between the two classes

### Code:

#### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer,SimpleImputer

In [13]:
# Reading the datasets
train_data = pd.read_csv("CSE7302c_train-1539668060821.csv",na_values=["?"])
test_data = pd.read_csv("CSE7302c_test-1539668060821.csv",na_values=["?"])

In [3]:
train_data.head()

,class,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet1b.tag,...,jet4phi,jet4b.tag,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb,id
0,1,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,2.173076,...,-0.000819,0.000000,0.302220,0.833048,0.985700,0.978098,0.779732,0.992356,0.798343,1
1,1,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.000000,...,0.900461,0.000000,0.909753,1.108330,0.985692,0.951331,0.803252,0.865924,0.780118,2
2,0,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,0.000000,...,-1.360356,0.000000,0.946652,1.028704,0.998656,0.728281,0.869200,1.026736,0.957904,3
3,0,1.595839,-0.607811,0.007075,1.818450,-0.111906,0.847550,-0.566437,1.581239,2.173076,...,-1.274345,3.101961,0.823761,0.938191,0.971758,0.789176,0.430553,0.961357,0.957818,4
4,1,0.409391,-1.884684,-1.027292,1.672452,-1.604598,1.338015,0.055427,0.013466,2.173076,...,1.377130,3.101961,0.869418,1.222083,1.000627,0.545045,0.698653,0.977314,0.828786,5

In [14]:
train_data.tail()

,class,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet1b.tag,...,jet4phi,jet4b.tag,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb,id
68631,0,0.631747,-1.732745,0.734498,0.647226,-0.795422,0.768035,0.966439,0.950915,0.000000,...,-0.501350,3.101961,1.843042,1.384108,0.989323,0.978744,0.467157,1.412571,2.054788,68632
68632,0,0.967752,-0.317568,-1.579379,0.512029,0.764061,0.684489,-0.537720,-0.855346,0.000000,...,0.239561,3.101961,2.000598,1.331450,0.985605,0.880876,0.899824,0.978647,0.915264,68633
68633,1,0.908091,-0.825006,-0.830871,0.736298,1.512713,0.881811,-0.363440,0.006813,1.086538,...,0.716785,0.000000,1.317681,1.010795,0.985962,0.957878,1.454672,0.903937,0.786069,68634
68634,0,0.903699,0.261943,-0.429149,1.892855,0.313687,0.493397,-1.494282,-1.458506,0.000000,...,1.110772,3.101961,0.527038,0.607263,1.125286,0.634106,0.115543,0.425828,0.692506,68635
68635,0,0.566047,-0.317568,0.062561,0.358186,-1.315823,0.691176,1.154583,-0.242759,2.173076,...,-0.294922,0.000000,0.747239,1.008975,0.989497,1.203147,0.892492,1.090807,0.888965,68636

In [4]:
test_data.head()

,class,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet1b.tag,...,jet4phi,jet4b.tag,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb,id
0,1,1.105009,0.321356,1.522401,0.882808,-1.205349,0.681466,-1.070464,-0.921871,0.000000,...,0.113040611,0,0.755856454,1.361057043,0.986609697,0.838084638,1.133295178,0.872244895,0.808486521,68637
1,1,1.176566,0.104161,1.397002,0.479721,0.265513,1.135563,1.534831,-0.253291,0.000000,...,0.530334473,0,0.833174884,0.773968101,0.98574996,1.103696346,0.849139869,0.937103987,0.812363803,68638
2,1,1.384098,0.116822,-1.179879,0.762913,-0.079782,1.019863,0.877318,1.276887,2.173076,...,0.504808545,3.101961374,0.959324658,0.807376027,1.191813588,1.221210361,0.861141264,0.929340899,0.838302374,68639
3,1,1.330110,0.201557,1.173393,0.135309,-1.083159,0.728461,1.109032,-0.539903,1.086538,...,0.054774851,3.101961374,0.782073259,0.672102809,0.990002096,0.734279454,0.379074246,0.764760256,0.642924428,68640
4,0,1.289848,-1.423023,-0.687162,0.131103,-1.135935,0.821350,0.296053,0.167582,2.173076,...,0.727328241,0,1.006642818,0.86791414,0.999089658,1.109608173,1.125094175,0.882899106,0.859395742,68641

In [15]:
test_data.tail()

,class,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet1b.tag,...,jet4phi,jet4b.tag,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb,id
29409,0,1.678010,0.264865,1.207240,0.162353,1.187041,0.485610,-0.023791,0.128222,2.173076,...,0.881594,0.000000,0.893775,0.930790,0.982853,0.837419,0.861734,0.873256,0.773829,98046
29410,1,1.180592,0.678802,1.088500,0.297297,0.165214,0.551476,0.250503,1.405502,0.000000,...,-0.206137,3.101961,0.944666,0.826648,0.990374,1.121632,1.236583,1.062557,0.917057,98047
29411,0,2.786130,-0.679884,-1.673151,0.854033,1.020573,0.844252,-0.323831,-0.132437,0.000000,...,1.054172,0.000000,0.931880,0.880436,1.399047,1.041965,0.875924,1.056742,1.383591,98048
29412,0,2.512898,0.530759,-1.470626,1.641798,1.613386,0.934027,1.521958,-0.049836,0.000000,...,-0.386483,0.000000,0.774413,0.745263,0.997088,1.392387,0.864681,1.179783,1.086167,98049
29413,1,0.708611,1.190136,0.593009,1.899366,-0.111872,0.871276,0.982283,-1.684691,2.173076,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98050

#### Analysing the train data

In [16]:
# get the datatypes of the features
train_data.dtypes

class                         int64
lepton_pT                   float64
lepton_eta                  float64
lepton_phi                  float64
missing_energy_magnitude    float64
missing_energy_phi          float64
jet1pt                      float64
jet1eta                     float64
jet1phi                     float64
jet1b.tag                   float64
jet2pt                      float64
jet2eta                     float64
jet2phi                     float64
jet2b.tag                   float64
jet3pt                      float64
jet3eta                     float64
jet3phi                     float64
jet3b.tag                   float64
jet4pt                      float64
jet4eta                     float64
jet4phi                     float64
jet4b.tag                   float64
m_jj                        float64
m_jjj                       float64
m_lv                        float64
m_jlv                       float64
m_bb                        float64
m_wbb                       float64
m_wwbb                      float64
id                            int64
dtype: object

From the output above, it seems that the whole dataset is taken as numeric data, lets explore to see if its true!

In [17]:
train_data.nunique()

class                           2
lepton_pT                   18514
lepton_eta                   8919
lepton_phi                  11806
missing_energy_magnitude    66854
missing_energy_phi          66804
jet1pt                      25954
jet1eta                      9422
jet1phi                     11713
jet1b.tag                       5
jet2pt                      22270
jet2eta                      9658
jet2phi                     11827
jet2b.tag                       5
jet3pt                      17882
jet3eta                     10089
jet3phi                     11753
jet3b.tag                       5
jet4pt                      13935
jet4eta                     10516
jet4phi                     11801
jet4b.tag                       5
m_jj                        65748
m_jjj                       57372
m_lv                        42247
m_jlv                       60935
m_bb                        62851
m_wbb                       63301
m_wwbb                      64483
id                          68636
dtype: int64

As we can see some of the features seem to categorical! And hence converting them to categorical would make prediction better

In [18]:
# Separating numerical and categorical features
num_cols = train_data.nunique()[train_data.nunique()>5].index

cat_cols = train_data.nunique()[train_data.nunique()<=5].index
print("Numerical Columns are:",','.join(list(num_cols)),"\n\n")
print("Categorical Columns are:",','.join(list(cat_cols)))

Numerical Columns are: lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet2pt,jet2eta,jet2phi,jet3pt,jet3eta,jet3phi,jet4pt,jet4eta,jet4phi,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb,id


Categorical Columns are: class,jet1b.tag,jet2b.tag,jet3b.tag,jet4b.tag

In [19]:
# Lets remove the id from the features list
num_cols = num_cols.drop("id")
num_cols

Index(['lepton_pT', 'lepton_eta', 'lepton_phi', 'missing_energy_magnitude',
       'missing_energy_phi', 'jet1pt', 'jet1eta', 'jet1phi', 'jet2pt',
       'jet2eta', 'jet2phi', 'jet3pt', 'jet3eta', 'jet3phi', 'jet4pt',
       'jet4eta', 'jet4phi', 'm_jj', 'm_jjj', 'm_lv', 'm_jlv', 'm_bb', 'm_wbb',
       'm_wwbb'],
      dtype='object')

#### Typecasting the features in train and test datasets

In [20]:
train_data[cat_cols] = train_data[cat_cols].astype("category")
test_data[cat_cols] = test_data[cat_cols].astype("category")
#Dropping the id column in both train and test
train_data.drop(["id"],axis=1,inplace=True)
test_data.drop(["id"],axis=1,inplace=True)

In [21]:
# Checking the datatype after typecasting
train_data.dtypes

class                       category
lepton_pT                    float64
lepton_eta                   float64
lepton_phi                   float64
missing_energy_magnitude     float64
missing_energy_phi           float64
jet1pt                       float64
jet1eta                      float64
jet1phi                      float64
jet1b.tag                   category
jet2pt                       float64
jet2eta                      float64
jet2phi                      float64
jet2b.tag                   category
jet3pt                       float64
jet3eta                      float64
jet3phi                      float64
jet3b.tag                   category
jet4pt                       float64
jet4eta                      float64
jet4phi                      float64
jet4b.tag                   category
m_jj                         float64
m_jjj                        float64
m_lv                         float64
m_jlv                        float64
m_bb                         float64
m_wbb                        float64
m_wwbb                       float64
dtype: object

#### Checking for any NAs

In [22]:
train_data.isna().sum()

class                       0
lepton_pT                   0
lepton_eta                  0
lepton_phi                  0
missing_energy_magnitude    0
missing_energy_phi          0
jet1pt                      0
jet1eta                     0
jet1phi                     0
jet1b.tag                   0
jet2pt                      0
jet2eta                     0
jet2phi                     0
jet2b.tag                   0
jet3pt                      0
jet3eta                     0
jet3phi                     0
jet3b.tag                   0
jet4pt                      0
jet4eta                     0
jet4phi                     0
jet4b.tag                   0
m_jj                        0
m_jjj                       0
m_lv                        0
m_jlv                       0
m_bb                        0
m_wbb                       0
m_wwbb                      0
dtype: int64

In [23]:
test_data.isna().sum()

class                       0
lepton_pT                   0
lepton_eta                  0
lepton_phi                  0
missing_energy_magnitude    0
missing_energy_phi          0
jet1pt                      0
jet1eta                     0
jet1phi                     0
jet1b.tag                   0
jet2pt                      0
jet2eta                     0
jet2phi                     0
jet2b.tag                   0
jet3pt                      0
jet3eta                     0
jet3phi                     0
jet3b.tag                   0
jet4pt                      0
jet4eta                     0
jet4phi                     1
jet4b.tag                   1
m_jj                        1
m_jjj                       1
m_lv                        1
m_jlv                       1
m_bb                        1
m_wbb                       1
m_wwbb                      1
dtype: int64

There seems to be no missing values in train! But there are missing values in test data! and hence building a imputer model from the train data for categorical features and numerical features separately

#### Imputation of the missing data

Categorical Data imputation using SimpleImputer

In [24]:
# Initialising the imputer object
cat_imputer = SimpleImputer(strategy="most_frequent")

In [25]:
# Fitting and transforming the cateogorical data of train_data
train_data[cat_cols] = pd.DataFrame(cat_imputer.fit_transform(train_data[cat_cols]),columns=cat_cols)
train_data[cat_cols].head()

  class jet1b.tag jet2b.tag jet3b.tag jet4b.tag
0     1   2.17308   2.21487         0         0
1     1         0   2.21487   2.54822         0
2     0         0   2.21487         0         0
3     0   2.17308         0         0   3.10196
4     1   2.17308         0         0   3.10196

In [26]:
# Imputing missing Categorical values in test dataset
test_data[cat_cols] = pd.DataFrame(cat_imputer.transform(test_data[cat_cols]),columns=cat_cols)
test_data[cat_cols].head()

  class jet1b.tag jet2b.tag jet3b.tag jet4b.tag
0     1         0   2.21487         0         0
1     1         0         0   2.54822         0
2     1   2.17308         0         0   3.10196
3     1   1.08654         0         0   3.10196
4     0   2.17308   1.10744         0         0

Using KNN imputer for the numeric variables

In [27]:
# Initialising the imputer object
num_imputer = KNNImputer()
train_data[num_cols]=pd.DataFrame(num_imputer.fit_transform(train_data[num_cols]),columns=num_cols)
train_data[num_cols].head()

,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet2pt,jet2eta,...,jet4pt,jet4eta,jet4phi,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb
0,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,0.812581,-0.213642,...,0.398701,-1.138930,-0.000819,0.302220,0.833048,0.985700,0.978098,0.779732,0.992356,0.798343
1,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.851737,1.540659,...,1.256955,1.128848,0.900461,0.909753,1.108330,0.985692,0.951331,0.803252,0.865924,0.780118
2,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,2.423265,-0.676016,...,0.745313,-0.678379,-1.360356,0.946652,1.028704,0.998656,0.728281,0.869200,1.026736,0.957904
3,1.595839,-0.607811,0.007075,1.818450,-0.111906,0.847550,-0.566437,1.581239,0.755421,0.643110,...,0.651114,-0.654227,-1.274345,0.823761,0.938191,0.971758,0.789176,0.430553,0.961357,0.957818
4,0.409391,-1.884684,-1.027292,1.672452,-1.604598,1.338015,0.055427,0.013466,0.509783,-1.038338,...,0.367058,0.069496,1.377130,0.869418,1.222083,1.000627,0.545045,0.698653,0.977314,0.828786

In [28]:
# Imputing missing Numerical values in test dataset
test_data[num_cols] = pd.DataFrame(num_imputer.transform(test_data[num_cols]),columns=num_cols)
test_data[num_cols].head()

,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet2pt,jet2eta,...,jet4pt,jet4eta,jet4phi,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb
0,1.105009,0.321356,1.522401,0.882808,-1.205349,0.681466,-1.070464,-0.921871,0.800872,1.020974,...,0.479999,-0.373566,0.113041,0.755856,1.361057,0.986610,0.838085,1.133295,0.872245,0.808487
1,1.176566,0.104161,1.397002,0.479721,0.265513,1.135563,1.534831,-0.253291,1.027247,0.534316,...,1.250383,0.268541,0.530334,0.833175,0.773968,0.985750,1.103696,0.849140,0.937104,0.812364
2,1.384098,0.116822,-1.179879,0.762913,-0.079782,1.019863,0.877318,1.276887,0.331252,1.409523,...,1.559753,0.846521,0.504809,0.959325,0.807376,1.191814,1.221210,0.861141,0.929341,0.838302
3,1.330110,0.201557,1.173393,0.135309,-1.083159,0.728461,1.109032,-0.539903,0.462444,0.133138,...,0.670100,1.007255,0.054775,0.782073,0.672103,0.990002,0.734279,0.379074,0.764760,0.642924
4,1.289848,-1.423023,-0.687162,0.131103,-1.135935,0.821350,0.296053,0.167582,0.696498,-0.469113,...,0.720485,1.105529,0.727328,1.006643,0.867914,0.999090,1.109608,1.125094,0.882899,0.859396

Checking for NAs

In [30]:
# In Train data
train_data.isna().sum()

class                       0
lepton_pT                   0
lepton_eta                  0
lepton_phi                  0
missing_energy_magnitude    0
missing_energy_phi          0
jet1pt                      0
jet1eta                     0
jet1phi                     0
jet1b.tag                   0
jet2pt                      0
jet2eta                     0
jet2phi                     0
jet2b.tag                   0
jet3pt                      0
jet3eta                     0
jet3phi                     0
jet3b.tag                   0
jet4pt                      0
jet4eta                     0
jet4phi                     0
jet4b.tag                   0
m_jj                        0
m_jjj                       0
m_lv                        0
m_jlv                       0
m_bb                        0
m_wbb                       0
m_wwbb                      0
dtype: int64

In [31]:
# In test data
test_data.isna().sum()

class                       0
lepton_pT                   0
lepton_eta                  0
lepton_phi                  0
missing_energy_magnitude    0
missing_energy_phi          0
jet1pt                      0
jet1eta                     0
jet1phi                     0
jet1b.tag                   0
jet2pt                      0
jet2eta                     0
jet2phi                     0
jet2b.tag                   0
jet3pt                      0
jet3eta                     0
jet3phi                     0
jet3b.tag                   0
jet4pt                      0
jet4eta                     0
jet4phi                     0
jet4b.tag                   0
m_jj                        0
m_jjj                       0
m_lv                        0
m_jlv                       0
m_bb                        0
m_wbb                       0
m_wwbb                      0
dtype: int64